/* 전체 스타일링 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  /* 헤더 스타일링 */
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
 }
  
  .icon{
    display: flex;
    align-items: center;
  }

.icon img {
    height: 40px;

}
  
.icon a {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-left: 10px;
}
  
.user-actions button {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #fff;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nickname{
  color:#666;
  margin-right: 10px;
}
.notification {
  width: 24px;
  height: 24px;
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
}

.notification img{
  opacity: 0.7;
  width: 24px;
  height: 24px;
}

.profile-image {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.profile-image img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-dropdown {
  position: relative;
}

.user-dropdown ul {
  position: absolute;
  top: 35px;
  right: 0;
  width: 120px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.user-dropdown ul li {
  list-style: none;
}

.user-dropdown ul li a {
  display: block;
  padding: 8px 10px;
  color: #333;
  text-decoration: none;
}

.user-dropdown ul li a:hover {
  background-color: #f5f5f5;
}



  
.signup-btn {
    background-color: #5cb85c;
  }
  
  /* 본문 스타일링 */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}
  
.intro h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}
  
.intro p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
    color: #ababab;
}
  
.join-btn {
    border: none;
    font-size: 22px;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    padding:15px;
    margin-bottom: 20px;
}

.sns-login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
.sns-login-main p {
    font-size: 16px;
    margin-bottom: 30px;
}
  
.sns-login-main button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #ababab;
    text-decoration: underline;
    margin-bottom: 20px;
    cursor: pointer;
}
  
.sns-login-main button:last-child {
    margin-bottom: 0;
}

.signup{
    width: 400px;
    margin: 0 auto;
    height: inherit;
    text-align: left;
}

.signup h1{
    font-size: 36px;
    font-weight: bold;
    margin:70px auto 40px 20px;
}

.signup form div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.signup  input,
  button {
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.015);
    margin-left: 10px;
}
 
.signup  button[id$="-check"] {
    margin-left: 5px;
    border: 1px solid #ccc;
}

.signup input[type="checkbox"] {
    margin-right: 10px;
}


.signup label{
  width: 100px;
  padding-left: 10px;
}

.checkbox-group label{
  width:400px;
}

.signup input[type="text"],
input[type="email"],
input[type="password"],
input[ type="date"] {
  width: 200px;
}

.signup button[type="submit"]{
  border: none;
  font-size: 22px;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  border-radius: 7px;
  padding:15px 40px  15px 40px;
  margin: 30px 120px auto 120px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sns-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.sns-login p {
  font-size: 16px;
  margin-bottom: 30px;
}

.sns-login button {
  width:300px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  padding:15px 40px  15px 40px;
  margin: 30px 120px auto 120px;
}


.id-login{
  display: none;
  width: 400px;
  margin: 0 auto;
  height: inherit;
  text-align: left;
}

.id-login h1{
  font-size: 36px;
  font-weight: bold;
  margin:70px auto 40px 20px;
}

.id-login form div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.id-login label{
  width: 100px;
  padding-left: 38px;
}

.id-login  input,
button {
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.015);
  margin-left: 10px;
}


.id-login input[type="text"],
input[type="password"] {
  width: 200px;
}

.id-login button[type="submit"]{
  border: none;
  width:400px;
  font-size: 22px;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  border-radius: 7px;
  padding:15px 40px  15px 40px;
  margin: 10px 0 20px 0;
}

.id-login div.links {
  display: flex;
  justify-content: center;
}

.id-login a {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #ababab;
  text-decoration: underline;
  margin: 10px 20px 10px 20px;
  cursor: pointer;
}

.back-btn {
  border:none;
  background-color: #fff;
  color:#8a8a8a;
}

nav {
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 1em;
  list-style: none;
}
